(
    name: "Github",
    description: "Lets you search and open a github repository via the Github Search API",
    bin: (
        path: "pop-launcher-plugin-github",
    ),
    icon: Name("icon-name-or-path"),
    // Optional
    query: (
        isolate: true,
        persistent: false,
        no_sort: true,
        regex: "^(gh )+",
        help: "gh",
        history: false
    )
)
